---
name: Test

on:
    pull_request:
    push:
        branches:
            - master
            - main

jobs:
    nox:
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                os: [ubuntu-latest, macOS-latest]

        steps:
            - name: "Checkout the repository"
              uses: actions/checkout@v6

            - name: Install uv
              uses: astral-sh/setup-uv@v7
              with:
                  enable-cache: true

            - name: Set up nox
              uses: wntrblm/nox@2025.11.12

            - name: Install dependencies
              run: nox --install-only --verbose

            - name: Run nox
              run: nox
